.context{
    background-color: #343a40;
    width: 100%;
    height: min-content;
    color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 12px 15px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}